$hero-size: 40vh;

.hero {
  height: $hero-size;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .container {
  width: 80vh;
  align-items: flex-start;
  .image {
    background-image: url(./img/computer.png);
    background-size: cover;
    height: 30vh;
  }
}
